@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --primary: #126255;
    ;
    --primary-dark: #122f13;
    ;
    --primary-light: #1dcaa5;
    ;
    --secondary: #5de39a;
    --text: #1F2346;
    --white: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    padding: 1rem;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(../img/back3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.my-form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
    gap: 1rem;
    background-color: var(--white);
    width: 100vh;
    max-width: 32rem;
    padding: 3rem 2rem;
    border-radius: 2rem;
    height: fit-content;
}

.login-welcome-row {
    margin-bottom: 1rem;
    text-align: center;
}
.logo {
    height: 48px;
    margin: 0 auto;
}
.my-form__button {
    background-color: var(--primary-light);
    color: white;
    white-space: nowrap;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    line-height: 50px;
    outline: none;
    font-size: 18px;
    letter-spacing: .025em;
    text-decoration: none;
    cursor: pointer;
    font-weight: 800;
    min-height: 50px;
    width: 100%;
    border-radius: 99px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
}
.my-form__button:hover {
    background-color: var(--secondary);
}

.file-select {
    position: relative;
    display: inline-block;
}

.file-select::before {
    background-color: var(--primary);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    content: 'Seleccionar';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.file-select input[type="file"] {
    opacity: 0;
    width: 200px;
    height: 52px;
    display: inline-block;
    cursor: pointer;
    border-radius: 35px;
}

#src-file::before {
    content: 'Seleccionar Archivo .gpx';
    border-radius: 35px;
}